html,
body {
  margin: 0;
}

.child1 {
  height: 50vh;
  background: silver;
}

.child2 {
  height: 50vh;
  background: royalblue;
}

.centerify {
  display: flex;
  justify-content: center;
  align-items: center;
}
